/* settings */
@import './settings.vars';

/* generic */
@import '~normalize.css';

/* tools */
@import './tools/tools.position';
@import './tools/tools.px2em';

/* elements */
@import './elements/elements.page';
@import './elements/elements.typography';

/* objects */
@import './objects/objects.site';
@import './objects/objects.lists';

/* components */
@import './components/components.header';

/* utilities */
@import './utilities/utilities.text';

.c-feature {
  position: relative;

  &--intro {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}