.o-grid {
  width: 100%;
  
  @include mq-from(tablet) {
    display: flex;
  }

  &--vertical-center { align-items: center; }
  &--horizontal-center { justify-content: center; }

  &__item {
    position: relative;
    flex: 1 1 0;
  }
}