.o-site {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  &__header,
  &__content {
    transition: transform $global-duration $global-timing;
  }

  &__header {
    @include position(fixed, 0 0 null 0);

    z-index: 999;
  }

  &__navigation {
    @include position(fixed, 0 0 null null);

    visibility: hidden;
    height: 100vh;
    width: em(320px);
    z-index: -1;
  }
}

.navigation-is-visible .o-site {
  &__header,
  &__content {
    transform: translate3d(-320px, 0, 0);
  }

  &__navigation {
    visibility: visible;
  }
}