.c-header {
  @include position(fixed, 0 null null 0);

  width: auto;
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  padding: spacing('normal') spacing('normal');
  min-height: 5em;
  transition: background-color 222ms linear;
  z-index: 999;

  &--sticky { background-color: color('primary'); }

  &__logo {
    img {
      height: 3.5em;

      @include mq-from(laptop) {
        height: 5em;
      }
    }
  }
  
  &__nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__button {
    padding: 0 spacing('small');
    text-transform: uppercase;
    font-family: $headings-font-family;
    font-weight: 500;
    font-style: $headings-font-style;
    border-right: 0.125em solid white;
    color: #fff;

    img {
      height: spacing('normal');
    }
  }

  &__hamburger {
    padding: 0 spacing('small') 0 spacing('normal');
  }
}