.c-feature {
  position: relative;

  @include mq-from(tablet) {
    display: flex;
  }

  &__column {
    display: block;
    flex: 1 1 0;
  }

  &__title {
    display: block;
    text-transform: uppercase;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    font-style: $headings-font-style;

    span {
      display: block;
      text-transform: uppercase;
      font-family: $headings-font-family;
      font-weight: $headings-font-weight--alt;
      font-style: $headings-font-style;
    }
  }

  /* .c-feature--intro */
  &--intro {
    .c-swiper__slide {
      display: flex;
      align-items: center;
      height: 100vh;
    }

    .c-swiper__slide--intro { justify-content: center; }

    .c-feature__title {
      text-align: center;
      width: 90vw;
  
      @include mq-from(laptop) {
        width: 50vw;
      }
    }

    .c-swiper__slide--intro .c-feature__title span {
      display: block;
      line-height: 1;
      letter-spacing: 0.125em;
      color: #fff;
      text-shadow: 0 0.125em 0.25em rgba(#000, 0.75);
    }

    .c-swiper__slide--intro .c-feature__title span:nth-child(2) {
      font-weight: $headings-font-weight;
      line-height: 1.25;
      letter-spacing: 0;
    }

    .c-swiper__slide--destination {
      .o-grid__item:nth-child(1) {
        flex: none;
        width: 40vw;
        padding: spacing('huge'); }
      .o-grid__item:nth-child(2) { padding: spacing('large'); }

      article {
        padding: spacing('large');
        background-color: rgba(#000, 0.9);
        color: #fff;
      }

      img {
        align-self: center;
        justify-self: center;
        max-height: 700px;
      }

      article a {
        display: block;
        font-family: $headings-font-family;
        font-weight: $headings-font-weight--alt;
        font-style: $headings-font-style;
        color: #fff;
      }

      .c-feature__title { text-align: left; }
    }

    .c-swiper__slide--promo {
      .o-grid__item:nth-child(2) {
        flex: none;
        width: 60vw;
      }

      video {
        object-fit: contain;
      }
    }
  }

  /* .c-feature--todo */
  &--todo {
    @include mq-from(tablet) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, auto);
    }


    .c-block:nth-child(1) {
      @include mq-from(tablet) {
        grid-column: 1/3;
        grid-row: 1/3;
      }
    }

    .c-block:nth-child(10) {
      @include mq-from(tablet) {
        grid-column: 3/5;
        grid-row: 3/5;
      }
    }

    .c-feature__title { margin-top: 0; }

    .o-list li { margin-bottom: spacing('small'); }

    .o-list a {
      display: flex;
      align-items: center;
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
      font-style: $headings-font-style;
      font-size: 1.25em;
    }

    .o-list svg {
      width: 2em;
    }

    .o-list li:nth-child(1) a { color: color('primary'); }
    .o-list li:nth-child(2) a { color: color('secondary'); }
    .o-list li:nth-child(3) a { color: color('tertiary'); }
  }

  &--bloggers {
    padding: spacing('large');

    .title span {
      display: block;
      text-transform: uppercase;
    }
    
    .o-grid__item { padding: spacing('large'); }

    .blog li { margin-bottom: spacing('large'); }

    .blog h3 {
      font-size: 1.5rem;
      margin: 0;
      line-height: 1.75;
      color: color('secondary');
    }

    .blog span {
      color: #000;
      font-size: 0.75rem;
    }

    .blog p {
      color: #000;
    }
  }
}